.table2 {
  padding-top: 51px;
}

.table2-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

.transact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.main-transact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77%;
}

ul.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.text-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}

.image {
  background: url("../../assets/man_cart.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 952px;
  height: 688px;
  margin: 0px auto;
}

ul.list li {
  color: #7c16bf;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}

.main-transact p {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-transact span {
  color: #a9accc;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text p {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
